@media only screen and (max-width: 1000px){
    .single-recipe{
        display: flex;
        flex-direction: column;

        &__left{
            &__tags{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .5%;
            }
        }

        &__right{
            flex-flow: column-reverse;
        }
    }
}