.login-page{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 5rem auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title{
        @include font-title;
        text-align: center;
    }

    &__form{
        display: grid;
        grid-template-rows: 1fr;
        gap: 2.5%;
        max-width: 500px;
        width: 100%;
        margin: 2.5rem auto;
        margin-bottom: 10rem;

        label{
            @include font-subheading;
        }

        input{
            height: 4rem;
            border: none;
            border-bottom: 2px solid $color-black;
            background-color: transparent;
            outline: none;
            @include font-subheading;
            color: $color-3 !important;

            &::placeholder{
                color: $color-3;
            }

            &:focus, &:active{
                outline: none;
            }

            &:last-child{
                padding: 0;
                height: 100%;
                border: 2px solid $color-1;
                background-color: $color-1;
                @include font-subheading;
                border-radius: .5rem;
                box-shadow: 2px 2px 4px rgba(0,0,0, .75);
                cursor: pointer;
            }
        }
    }
}