{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="hero-section">
    <div class="hero-section__left">
        <div class="hero">
            <div class="hero__img">
                <img src="{{heroRecipe.thumbnail_url}}" alt="">
            </div>
            <div class="hero__text">
                <a href="{% url 'recipes-single' heroRecipe.id %}" class="hero__text__title">
                    {{heroRecipe.name}}
                </a>
                <p>
                    {% if heroRecipe.description %}
                        {{heroRecipe.description|truncatechars:300}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


    <div class="hero-section__right padding-right-10">
        {% for i in heroList %}
           <div class="hero-card">
             <div class="hero-card__img">
                 <img src="{{i.thumbnail_url}}" alt="">
             </div>
             <a href="{% url 'recipes-single' i.id %}" class="hero-card__text">
                 {{i.name}}
             </a> 
           </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}